body {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI Light", "Roboto", Arial, sans-serif;
  color: #6a747e;
  //font-size: 16px;
}

input {
  font-family: "Segoe UI Light", "Roboto", Arial, sans-serif;
  color: #6a747e;
}

button {
  font-family: "Segoe UI Light", "Roboto", Arial, sans-serif;
  color: #6a747e;
  border-style: none;
}

#container-header, #container-body, {
  width: 70rem;
  margin: 0px auto 0px auto;
  background-color: #ffffff;
}
