.pms-header {
  background-color: #f0f1f4;
  padding: 0px 5px 0px 5px;
  height: 3rem;
  margin-bottom: 10px;
  vertical-align: middle;
}

.pms-logo {
  font-family: "Segoe UI Light";
  font-size: 1.8rem;
  text-decoration: none;
}

.pms-emphasis {
  font-family: "Segoe UI Semibold";
}
