<div class="row">
	<div class="col-md-6">
		<div class="bs-component">
			<h1><strong>{{jbtHeading}}</strong></h1>
			<h3>{{jbtSubHeading}}</h3>
		  <p>{{jbtText}}</p>
		</div>
		<div class="bs-component">
			New here? <a href="#">Join us</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="bs-component">
			<br>
			<div class="well bs-component">
				<form class="form-horizontal">
					<fieldset>
						<div class="form-group">
							<div class="col-md-12">
			        	<input type="text" class="form-control input-sm" id="inputUser" placeholder="Email">
			      	</div>
						</div>
						<div class="form-group">
			      	<div class="col-md-12">
			        	<input type="password" class="form-control input-sm" id="inputPassword" placeholder="Password">
							</div>
							<div class="col-md-12 text-right">
								<a href="#">Forgot your login credentials?</a>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<a href="#" class="btn btn-primary btn-block">Login</a>
							</div>
							<div class="col-md-12">
								<div class="checkbox">
									<label>
										<input type="checkbox" id="inputRememberMe"> Remember me next time
									</label>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
